html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/*
* Light / Dark Theme
*/
.dark-mode-toggle {
  padding: 10px;
  width: 120px;
}

:root {
  --background: rgb(199, 199, 199);
  --secondary-background: rgb(255, 255, 255);
  --text-color: rgb(24, 24, 24);
}

[dark-theme='dark'] {
  --background: rgb(51, 51, 51);
  --secondary-background: rgb(34, 34, 34);
  --text-color: rgb(199, 189, 189);
}

span {
  font-size: 16px;
  line-height: 1;
}

small {
  font-size: 14px;
}

label {
  font-size: 14px;
  margin-left: 12px;
  color: #67748e;
  font-weight: 600;
}

/*
* Main view (app.py) style
*/

.wrapper {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  padding: 10px;
  display: grid;
  grid-template-areas:
    'a b b c'
    'a b b c'
    'a d d e';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 8px;
  overflow: hidden;
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.card:nth-child(1) {
  grid-area: a;
}

.card:nth-child(2) {
  grid-area: b;
}

.card:nth-child(3) {
  grid-area: c;
}

.card:nth-child(4) {
  grid-area: d;
}

.card:last-child {
  grid-area: e;
}

.scrollable {
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 10px;
}
.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(125, 125, 125)),
    color-stop(0.72, rgb(100, 100, 100)),
    color-stop(0.86, rgb(75, 75, 75))
  );
}

/*
* Custom style for the list component
*/

.styled-list-item {
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid rgb(125, 125, 125);
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'f f g h i'
    'j j k l m';
  padding-bottom: 10px;
  padding-left: 10px;
}

.grid-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-cell:nth-child(1) {
  grid-area: f;
  justify-content: left;
}

.grid-cell:nth-child(2) {
  grid-area: j;
  justify-content: left;
}
.grid-cell:nth-child(3) {
  grid-area: g;
  justify-content: center;
}
.grid-cell:nth-child(4) {
  grid-area: k;
  justify-content: center;
  flex-direction: column;
}
.grid-cell:nth-child(5) {
  grid-area: h;
  justify-content: center;
}
.grid-cell:nth-child(6) {
  grid-area: l;
  justify-content: center;
  flex-direction: column;
}
.grid-cell:nth-child(7) {
  grid-area: i;
  justify-content: center;
}
.grid-cell:last-child {
  grid-area: m;
  justify-content: center;
  flex-direction: column;
}

.list-item-icon {
  width: 36px;
  margin-bottom: 4px;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(200deg)
    brightness(118%) contrast(119%);
}

.state-flag {
  width: 32px;
  margin-right: 4px;
}
